@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

#container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: white;
}

#header {
    width: 900px;
    height: 500px;
    background-color: #e5f0aa;
    background-image: url(images/sanu.jpg);
}
#topic {
    height: 70px;

}

p span {
    border: 0 solid black;
    padding: 12px;
    font-size: 48px;
    position: relative;
    background-color: white;
    font-family: kanit;
}

#topic-text {
    text-align: center;
    font-family: Jomhuria;
}

#sub-head{
    background: url(images/auraro.jpg) no-repeat;
    position: relative;
    top: 10px;
    left: 150px;

}

.sub-sec-head {
    line-height: 120px;
    padding-left: 30px;
    font-size: 50px;
    color:white;
    font-weight: bold;
    height: 120px;
    width: 768px;
}

#content {
    width: 1100px;
    height: 900px; 
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(255, 255, 255);

}

#main-content {
    height: 700px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 25px;
    left: 10px;
    font-family: noto sans hk;

}

.event-date-first{
    border-top: 1px solid #ccc;
    margin-top: 0;
}

.event-date {
    width: 100px;
    height: 7px;
    text-align: center;
    line-height: 26px;
    float: left;
    font-size: 14px;
    border-top: 2px solid #ccc;
    margin: -1px 0 0 0;
    padding: 4px 5px 6px;
    clear: left;
    font-weight: bold;

}

.event-des {
    width: 625px;
    background: #f9f9f9;
    float: left;
    margin: 0;
    padding: 8px 12px 8px 8px;
    border-top: 1px solid #ccc;
    clear: right;
    font-size: 14px;

}

.event-des.nth {
    border-bottom: 1px solid #ccc;
}

#side-content {
    height: 700px;
    width: 290px;
    background-color: white;
    float: right;
    clear: both;
    position: relative;
    bottom: 680px;
}

#logo {
    width: 200px;
    height: 250px;
    position: relative;
    top: 7px;
    float: right;
    right: 18px;
    border-radius: 50%;
    padding-bottom: 20px;
}

 .info th, td {
    vertical-align: top;
    border: 0;
    border-bottom: 1px solid #dddddd;
    padding: 0.2em;
    font-family: noto sans hk;
    font-weight: bold;
}

#snt {
    font-family: abel;
    
    font-size: 30px;
}
#footer {
    background-color: #ececec;
    height: 300px;
}

#quote {
    font-family: Jomhuria;
    text-align: center;
    font-size: 46px;
    position: relative;
    top: 38px;
    left: 150px;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}